# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.pyl

# Documentation
# *.html
# *.pdf
# *.epub
# *.docx

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
.nox/
.tox/

# Virtual environment
# Note: It's generally a good practice to commit the requirements.txt/Pipfile.lock,
# but ignore the actual virtual environment directory.
.venv/
venv/
env/
/bin
/include
/lib
/lib64
/pyvenv.cfg
/share

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
MANIFEST
sdist/
wheel/

# Logs and databases
*.log
*.sqlite
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE-specific files
.vscode/
.idea/
*.swp
*~

.env
